
#container-1{
    background: #555;
    display: flex;
    height: 200px;
    justify-content: center;
    align-items: center;
}
#container-2{
    background: #555;
    display: flex;
    height: 200px;
    justify-content: center;
    align-items: center;
}

.item {
    background: #f4f4f4;
    border: #ccc solid 1px;
    text-align: center;
    padding: 1rem;
    margin: 0.5rem;
    flex-basis: 100px;
}
#container-1 .item.item-3{
    order: 1;
}
#container-2 .item.item-1{
    order: 3;
}